body { 
  padding: 0; 
  margin: 0; 
}

header {
  margin: 10px;
}

header img {
    width: 25%;
    text-align: left;
}

.title {
    text-align: center;
}

aside {
    width: 40%;
    float: right;
}

nav {
    float: right;
}
nav ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
  }
  
nav li {
    float: right;
  }
  
nav li a:link, a:visited {
    display: block;
    color: black;
    text-align: left;
    padding: 16px;
    margin: 0px 10px;
    text-decoration: none;
  }
  
nav li a:hover {
    color: gray;
  }
  
h2 {
  text-align: center;
}

h4 {
 text-align: center;
}

.general {
  margin: 10px;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 33.33%;
}

figcaption {
  font-style: italic;
  text-align: center;
}

footer {
  text-align: left;
  background-image: url("photos/footer.jpg");
}