body { 
  padding: 0; 
  margin: 0; 
}

header {
  margin: 10px;
}

header img {
    width: 25%;
    text-align: left;
}

.title {
    text-align: center;
    margin: 5% auto auto auto;
    
}

aside {
    width: 40%;
    float: right;
}

/* navigation bar layout */
nav {
    float: right;
}
nav ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
  }
  
nav li {
    float: right;
  }
  
nav li a:link, a:visited {
    display: block;
    text-align: left;
    padding: 16px;
    margin: 0px 10px;
  }
  

h2 {
  text-align: center;
}

h4 {
  text-align: center;
}

.general {
  margin: 0 30px;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

/* Code for gallery page image configuration */
.gallery-image-container {
  display: flex;
  flex-wrap: wrap;
}

.gallery-column {
  flex: 33.33%;
}


/* captions for gallery images */
figcaption {
  font-style: italic;
  text-align: center;
}

/* the styling of home page paragraph */
#introduction {
  text-align: center;
  margin: 0px 10px;
}

/* featured bars on the homepage */
.featured {
  overflow: hidden;
  margin: 0 10px;
}

#featured-title {
  padding: 0 2%;
  
}
.featured-image{
  float: left;
  width: 24%;
  height: 15%;
  padding: 0 0.5% 0.5% 0.5%;
  text-align: center;
  border-radius: 20%;
  
}

footer {
  text-align: center;
  background-image: url("photos/footer.jpg");
}
