body {
    font-family: Quicksand, sans-serif;
}

a:link{
    color: #1974d2;
    text-decoration: none;
}


footer {
    text-align: center;
    color: black;
    padding: .5%;
}

footer a:link, a:visited {
    color: black;
    
}
