a:link{
    color: #1974d2;
    text-decoration: none;
}

.title{
    font-family: Georgia, serif;
}

nav ul {
  background-color: rgb(248, 175, 175);
  margin-left: 33%;
  width: 66%;
  font-size: 87.5%;
  float: left;
  padding: 15px 0px;
  text-align: center;
  width: 20%
}

nav ul li:hover {
  background-color: rgb(148, 51, 62);
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: yellow;
}

