/*Default font: Quicksand from Google Fonts*/
body {
    font-family: Quicksand, sans-serif;
}

/*nav bar styles*/
nav li a:link, a:visited {
    color: black;
    text-decoration: none;
}

nav li a:hover {
    color: gray;
}

.general {
    font-size: large;
}

.featured {
    border: 6px dotted #ff007f;
}

.register {
    font-size: large;
}

/* captions for gallery images */
figcaption {
    font-style: italic;
}

footer {
    color: black;
    padding: .5%;
}

footer a:link, a:visited {
    color: black;  
}
